<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Student</a>
    <form action="/students/logout" method="POST" class="form-inline ml-auto">
      <button class="btn btn-outline-danger " type="submit">LogOut</button>
    </form>
</nav>

<br/>
<br/>
<br/>
<br/>
<br/>
<h2>Attendance :- {{Attendance}} </h2>
